*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

button {
  cursor: pointer;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #fff;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-weight: 700;
}

button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

button:active {
  background-color: #545050;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.content__list {
  height: 298px;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.content__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.result {
  width: 711px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-block-end: 16px;
  position: relative;
  overflow: hidden;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; 
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}

.content__video-card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card-description-container {
  flex: 1;
  padding-inline-end: 10px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: 'Oswald', sans-serif; ;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
  padding: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; ;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.content__video-card-description {
  line-height: 90%;
}

fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  width: 225px;
  height: 27px;
  padding: 0;
}

.search-form__textfield:focus {
  outline: 0;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-block-start: auto;
}

.more-button {
  box-sizing: border-box;
  height: 34px;
  width: 100%;
}
